.popup {
  position: fixed;
  top: 100px;
  left: 100px;
  background-color: #d3dedca5;
  width: 500px;
  height: 300px;
  padding: 20px;
  z-index: 99;
  font-family: "Patrick Hand";
  font-size: 1.5rem;
  height: 350px;

  .popup-inner {
    position: relative;
    width: 500px;
    height: 250px;

    textarea {
      margin: 20px;
      border: none;
      padding: 5px;
      width: 400px;
      height: 200px;
      font-family: "Patrick Hand";
      font-size: 1.5rem;
    }
  }
  .close-btn {
    position: absolute;
    top: -50px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding: 10px;    
  }

  .add-btn {
    position: absolute;
    top: -50px;
    right: 80px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding: 10px;
  }

  .fa-solid{
    font-size: 2rem;
    
  }
}
